*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1000px;
    border:2px solid #999999;
    margin: 0 auto;
}
.fl h1{
    margin-left: 20px;
}
li{
    list-style: none;
}
.fl{
    width: 1000px;
    height: 60px;
    background: #666;
    line-height: 60px;
    color:#fff;
}
.message-item{
    width: 1000px;
    height: 100px;
    border-bottom:2px solid #999999;
}
.fr li{
    display: inline-block;
}
.fr ul{
   ;
}
.fr h3{
    float: left;
    width: 90px;
    height: 96px;
    background: #cccccc;
    text-align: center;
    line-height: 96px;
    margin-right: 40px;
}
.fr .basic{
  line-height: 40px;
}